<main>
  <div class="shopping-list">
    <div class="title"><h1>Shopping List</h1></div>
    <div class="items">
      <% shopping_lists.each do |list| %>
        <div class="sl-ingredients">
          <% list.keys.each do |ingredient| %>
            <p><%= ingredient %></p>
          <% end %>
        </div>
    
        <div class="sl-amounts">
          <% list.values.each do |amount| %>
            <p><%= amount %></p>
          <% end %>            
        </div>
      <% end %>        
    </div>
  </div>
</main>