<main>
  <div class="shopping-list">
    <div class="title"><h1>Shopping List</h1></div>
    <% if shopping_lists[0] %>
      <div class="items">
        <% shopping_lists.each do |list| %>
          <div class="sl-ingredients">
            <% list.keys.each do |ingredient| %>
              <p><%= ingredient %></p>
            <% end %>
          </div>      
          <div class="sl-amounts">
            <% list.values.each do |amount| %>
              <p><%= amount %></p>
            <% end %>            
          </div>
        <% end %>
        <form action="/shopping" method="POST">
          <input type="hidden" name="_method" value="delete">
          <button class="clear-sl-btn">Clear Shopping List</button>
        </form>
      </div>
    <% end %>
  </div>
</main>