<main class="signup">
  <h1>Sign Up</h1>
  <div class="form-container">
    <section class="form">
      <form action="/users" method="POST">
        <label>First Name: </label>
        <input type="text" name="first-name">

        <label>Last Name: </label>
        <input type="text" name="last-name">

        <label>Email: </label>
        <input type="text" name="email">

        <label>Password: </label>
        <input type="password" name="password">
        
        <button class="signup-btn">Sign Up</button>
      </form>  
    </section>
  </div>
</main>