<h1>Log In</h1>
<form action="/sessions" method="POST">
  <label>Email: </label>
  <input type="text" name="email">

  <label>Password: </label>
  <input type="password" name="password">
  
  <button class="login-btn">Log In</button>
</form>