<h1>Create a Recipe</h1>
<form action="/recipes" method="POST">
  <label>Recipe Name: </label>
  <input type="text" name="name">
  <label>Ingredient 1: </label>
  <input type="text" name="ingredient-1">
  <label>Amount: </label>
  <input type="text" name="amt-1">
  <label>Ingredient 2: </label>
  <input type="text" name="ingredient-2">
  <label>Amount: </label>
  <input type="text" name="amt-2">
  <label>Ingredient 3: </label>
  <input type="text" name="ingredient-3">
  <label>Amount: </label>
  <input type="text" name="amt-3">
  <label>Ingredient 4: </label>
  <input type="text" name="ingredient-4">
  <label>Amount: </label>
  <input type="text" name="amt-4">
  <label>Ingredient 5: </label>
  <input type="text" name="ingredient-5">
  <label>Amount: </label>
  <input type="text" name="amt-5">
  <label>Instructions: </label>
  <input type="text" name="instructions">
  <label>Image URL: </label>
  <input type="text" name="image-url">

  <button>Create</button>
</form>