<header>
  <section class="title-bar">
    <div class="logo">
      <img src="../logo/bartender-logo.png" alt="logo">
    </div>
    <div class="title">
      <h1>Bartender</h1>
    </div>
  </section>

  <nav>
    <div class=app-nav>
      <a href="#">Home</a>
      <a href="#">Create Recipe</a>
      <a href="#">Saved Recipes</a>
    </div>

    <div class="user-nav">
      <a href="#">Log Out</a>
      <a href="#">Account</a>
    </div>
  </nav>
</header>
<section class=search-bar>
  <input type="text" value="Search for a cocktail recipe...">
</section>
<main>
  <section class="top-recipes">
    <h1>Top Recipes</h1>
  </section>

  <section class="all-recipes">
      <section class="recipe">
        <div class="recipe-info">
          <div class="recipe-thumbnail">
            <img src="<%= recipe['image_url'] %>" alt="">
          </div>
          <div class="author-details">
            <p class="author">Posted by User</p>
            <p class="date-created"></p>
          </div>
        </div>

        <div class="recipe-details">
          <div class="recipe-heading">
            <div class="recipe-name">
              <p><%= recipe['name'] %></p>
            </div>
            <div class="likes"></div>
          </div>
          <div class="ingredients">
            <ul>
              <% ingredients.each_value do |ingredient| %>
                <% if ingredient %>
                  <li><%= ingredient %></li>
                <% end %>
              <% end %>
            </ul>
            <div class="ingredients-amt">
              <p>Ingredients</p>
              <% ingredients_amt.each_value do |amount| %>
                <% if amount %>
                  <li><%= amount %></li>
                <% end %>
              <% end %>
            </div>
          </div>
        </div>

        <section class="recipe-controls">
          <div><p>Like</p></div>
          <div><p>Save</p></div>
          <div><p>Add to shopping list</p></div>
        </section>
      </section>
  </section>
</main>
<footer>
  <p>Copyright &copy; 2022 Sakal Mon</p>
</footer>
