<header>
  <section class="title-bar">
    <div class="logo"></div>
    <div class="title">
      <h1>Bartender</h1>
    </div>
  </section>

  <nav>
    <ul class=app-nav>
      <li>Home</li>
      <li>Create Recipe</li>
      <li>Saved Recipes</li>
    </ul>

    <ul class="user-nav">
      <li>Log Out</li>
      <li>Account</li>
    </ul>
  </nav>
</header>
<section class=search-bar>
  <input type="text" value="Search for a cocktail recipe...">
</section>
<main>
  <section class="top-recipes">
    <h1>Top Recipes</h1>
  </section>

  <section class="all-recipes">
    <section class="recipe">
      <div class="recipe-info">
        <div class="recipe-thumbnail"></div>
        <div class="author-details">
          <p class="author">Posted by User</p>
          <p class="date-created"></p>
        </div>
      </div>

      <div class="recipe-details">
        <div class="recipe-heading">
          <div class="recipe-name"></div>
          <div class="likes"></div>
        </div>
        <div class="ingredients"></div>
      </div>

      <section class="recipe-controls">
        <div><p>Like</p></div>
        <div><p>Save</p></div>
        <div><p>Add to shopping list</p></div>
      </section>
    </section>
  </section>
</main>
<footer>
  <p>Copyright &copy; 2022 Sakal Mon</p>
</footer>
