<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Bartender</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400&family=Prompt:wght@100;200;300;400&family=Quicksand:wght@300;400&family=Reenie+Beanie&family=Rock+Salt&display=swap" rel="stylesheet">
  <script defer src="/javascripts/application.js"></script>
</head>
<body>
  <header>
    <section class="title-bar">
      <div class="logo">
        <img src="../logo/bartender-logo.png" alt="logo">
      </div>
      <div class="title">
        <h1>Bartender</h1>
      </div>
    </section>
    <nav>
      <div class=app-nav>
        <a href="/">Home</a>
        <% if logged_in? %>
          <a href="/recipes/new">Create Recipe</a>
          <a href="/recipes/saved_recipes">Saved Recipes</a>
          <a href="/shopping">Shopping List</a>
        <% end %>
      </div>
      <div class="user-nav">
        <% if logged_in? %>
          <form action="/sessions" method="POST">
            <input type="hidden" name="_method" value="delete">
            <button class="logout-btn">Log Out</button>
          </form>
          <a href="#">Account</a>
        <% else %>
          <a href="/sessions/new">Log In</a>
          <a href="/users/new">Sign Up</a>
        <% end %>
      </div>
    </nav>
  </header>

  <%= yield %>

</body>
</html>
